* {
    text-decoration: none;
    font-family: sans-serif;


    span{
        color: #b74b4b;
        font-weight: bold;
        text-shadow: 0 0 25px #b74b4b;
    }
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

header{
    margin-top: 20px;
    position:fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 1rem 9%;
    background-color:transparent;
    filter: drop-shadow(10px 10px 10px #000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    font-weight: 800;
    color: #b74b4b;
    cursor: pointer;
    transition: 0.5s ease;
    text-shadow: 0 0 25px #b74b4b;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.9rem;
    color: white;
    margin-left:4rem;
    font-weight:500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

nav a:hover{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

section{

}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8rem;
    min-height: 100vh;
    padding-bottom: 10rem;
    padding-top: 2rem;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
}

.home .home-content h3{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home .home-content p{
    font-size: 1.8rem;
}

.home-img img{
    position: relative;
    width: 35vw;
    border-radius: 50%;
    box-shadow: 0px 0px 25px #b74b4b;
    cursor: pointer;
    transition: 0.5s ease;
}

.home-img img:hover{
    transform: scale(1.05);
}

section{
    padding: 10rem 15rem;
}

.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border:0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 40%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
    cursor: pointer;
}

.social-icons a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 40px #b74b4b;
}

.button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.button:hover{
    opacity: 0.8;
    transform: scale(1.05);
}

.separation{
    width: 100%;
    height: 1px;
    background: white;
    margin: 0 auto;
    filter: blur(8px);
}



.skill-title{
    font-size: 4.5rem;
    text-align: center;
    color: #b74b4b;
    text-shadow: 0 0 25px #b74b4b;
    margin:1rem;

}


.skill-img img{
    width: 20rem;
    height: 20rem;
}

.skill-img img:hover{
    transform: scale(1.05);
    transition: 0.2s ease;
}


.skills-grid{
    display: flex;
    gap:20rem;
    justify-content: center;
    margin-top: 10rem;
}

.skills-text{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.separation2{
    margin-top: 10rem;
    width: 100%;
    height: 1px;
    background: white;
    filter: blur(8px);
}

.experience-content{
    margin:0;
    padding:0;
}
.experience-title{
    text-align: center;
    font-size: 4.5rem;
    color: #b74b4b;
    text-shadow: 0 0 25px #b74b4b;
    padding-top: 8rem;
}

.myexperience{
    display: grid;
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    gap: 7rem;
}

.separation3{
    width: 100%;
    height: 1px;
    background: white;
    filter: blur(8px);
    margin-top: 8rem;
}


.contact-title{
    color: #b74b4b;
    text-shadow: 0 0 25px #b74b4b;
    padding-top: 1rem;
    text-align: center;
    font-size: 4.5rem;
}

input{
    background-color: white;
    width: 70%;
    margin-left:12%;
    font-size: 2rem;
    padding:1.6rem 1.6rem;
    border-radius: 1.5rem;
    margin-bottom:2rem;
    opacity: 90%;
    border: 2px solid #b74b4b;
}

textarea{
    background-color: white;
    width: 70%;
    margin-left:12%;
    font-size: 2rem;
    padding:1.6rem 1.6rem;
    border-radius: 2.5rem;
    margin-bottom:1.5rem;
    resize: vertical;
    opacity: 90%;
    border: 2px solid #b74b4b;
}

input:focus-within{
    outline: none;
    border-width: 0.3rem;
}


textarea:focus-within{
    outline: none;
    border-color: #b74b4b;
    border-width: 0.3rem;
}

.bouton-contact{
    color: #b74b4b;
    background-color: black;
    border-radius: 5rem;
    font-size: 2.2rem;
    padding: 1rem 2.8rem;
    text-align: center;
    display:flex;
    margin:auto;
    border: 2px solid #b74b4b;
}

.bouton-contact:hover{
    opacity:0.8;
    cursor:pointer;
    transform: scale(1.05);
    transition: 0.3s ease;
}